html {
  scrollbar-gutter: stable both-edges;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  margin: 0;
  -webkit-overflow-scrolling: touch;
  padding-bottom: var(--navbar-padding-bottom, 0);
  scrollbar-width: none;
}

body.scrolling {
  scrollbar-color: rgb(0 0 0 / 50%) transparent;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  height: 0;
  width: 0;
}

body.scrolling::-webkit-scrollbar {
  width: 6px;
}

body.scrolling::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 3px;
}

* {
  box-sizing: border-box;
}

button,
[role='button'] {
  cursor: pointer;
  touch-action: manipulation;
}

@media (width <= 400px) {
  body {
    font-size: 14px;
  }

  body h1 {
    font-size: 1.5rem;
  }

  body h2 {
    font-size: 1.25rem;
  }

  body .dice-roller {
    align-items: stretch;
    flex-direction: column;
    gap: 0.25rem;
  }

  body .tabs button {
    font-size: 0.875rem;
    padding: 0.25rem;
  }

  body button {
    font-size: 0.875rem;
    padding: 0.25rem;
  }
}
