@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (width <= 400px) {
  body {
    font-size: 14px;
  }

  body h1 {
    font-size: 1.5rem;
  }

  body h2 {
    font-size: 1.25rem;
  }

  body .tabs button {
    font-size: 0.875rem;
    padding: 0.25rem;
  }

  body .dice-roller {
    align-items: stretch;
    flex-direction: column;
    gap: 0.25rem;
  }

  body .base-input,
  body button {
    font-size: 0.875rem;
    padding: 0.25rem;
  }

  body .inventory-form {
    flex-direction: column;
  }

  body .overlay {
    font-size: 0.875rem;
    padding: 0.4rem 0.6rem;
  }
}
