.drawer {
    background: #000;
    box-sizing: border-box;
    color: #F7D02C;
    left: 0;
    padding: 1rem;
    position: fixed;
    top: -100%;
    transition: top 0.3s ease-in-out;
    width: 100%;
    z-index: 1000;
}

.drawer.open {
    top: 50px;

    /* Below the header */
}

.content {
    margin: 0 auto;
    max-width: 600px;
}

.diceGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;

    * {
        min-height: 0;
        min-width: 0;
    }
}

.diceButton {
    align-items: center;
    background: transparent;
    border: 2px solid #F7D02C;
    color: #F7D02C;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-weight: 900;
    justify-content: center;
    min-height: 80px;
    padding: 1rem;
    text-transform: uppercase;
    transition: all 0.2s;
}

.diceButton:hover,
.diceButton.selected {
    background: #F7D02C;
    color: #000;
}

.rollActionButton {
    background: #F7D02C;
    border-color: #F7D02C;
    color: #000;
}

.rollActionButton:hover {
    background: #E61E8D;
    border-color: #E61E8D;
    color: #FFF;
}

.diceIcon {
    font-size: 1.2rem;
}

.inputContainer {
    width: 100%;
}

.rollInput {
    background: #000;
    border: 2px solid #F7D02C;
    box-sizing: border-box;
    color: #F7D02C;
    font-family: inherit;
    font-weight: bold;
    padding: 0.75rem;
    width: 100%;
}

.rollInput::placeholder {
    color: rgb(247 208 44 / 50%);
}

.backdrop {
    background: rgb(0 0 0 / 50%);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.drawer.open .backdrop {
    display: block;
}
