.grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.stat {
  display: flex;
  flex-direction: column;
}

.controls {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.iconButton {
  height: 2rem;
  padding: 0.25rem;
  width: 2rem;
}

.edit {
  visibility: hidden;
}

.controls:hover .edit,
.controls:focus-within .edit {
  visibility: visible;
}
