.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin-bottom: 2rem;
}

.statBox {
    background: black;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.statIcon {
    font-size: 1.5rem;
}

.statContent {
    margin-bottom: auto;
    margin-top: 1rem;
}

.statLabel {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
}

.statValue {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    line-height: 0.9;
}

.controls {
    bottom: 1rem;
    display: flex;
    gap: 0.25rem;
    position: absolute;
    right: 1rem;
}

.controlButton {
    background: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
    cursor: pointer;
    height: 24px;
    width: 24px;
}